#event {
    height: 1380px;
    width: 1300px;
    margin: 50px auto;
    display: block;
}

#chu {
    height: 450px;
    width: 640px;
    background: rgb(235, 161, 34);
    background: linear-gradient(186deg, rgba(235, 161, 34, 1) 0%, rgba(236, 83, 7, 1) 57%);
    float: left;
}

#chu p {
    font-weight: bold;
    font-size: 50px;
    padding: 8px 30px 0px 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    color: white;
}

#chu ul {
    color: white;
    margin-left: 60px;
}

#anh {
    height: 450px;
    width: 640px;
    background-image: url(anh/z3353771190361_38a29ca312d9dd67a9bee5d25139c811.jpg);
    float: left;
    margin-left: 20px;
}

#gt1 {
    width: 310px;
    height: auto;
    float: left;
}

#n1 {
    height: 350px;
    width: 310px;
    margin-top: 6.5em;
    background-color: whitesmoke;
}

#n1 p {
    padding: 5em 60px 0px 65px;
}

#gt2 {
    width: 310px;
    height: auto;
    float: left;
    margin-left: 20px;
}

#n2 {
    height: 350px;
    width: 310px;
    margin-top: 6.5em;
    background-color: whitesmoke;
}

#n2 p {
    padding: 5em 55px 0px 65px;
}

#gt3 {
    width: 310px;
    height: auto;
    float: left;
    margin-left: 20px;
}

#n3 {
    height: 350px;
    width: 310px;
    margin-top: 6.5em;
    background-color: whitesmoke;
}

#n3 p {
    padding: 5em 55px 0px 65px;
}

#gt4 {
    width: 310px;
    height: auto;
    float: left;
    margin-left: 20px;
}

#n4 {
    height: 350px;
    width: 310px;
    margin-top: 6.5em;
    background-color: whitesmoke;
}

#n4 p {
    padding: 5em 60px 0px 65px;
}

.ten {
    font-size: 30px !important;
    font-weight: bold;
    margin-top: -140px;
    color: #ec5307;
}

.ten1 {
    font-size: 30px !important;
    font-weight: bold;
    margin-top: -116px;
    color: #ec5307;
}

img {
    margin-top: 50px;
    width: 8em;
    height: 8em;
    background-position: center center;
    border-radius: 4em;
    margin-left: 80px;
    float: left;
}

#a1 {
    color: white;
    height: 450px;
    width: 640px;
    float: left;
    margin-top: 50px;
    background: rgb(34, 119, 235);
    background: linear-gradient(186deg, rgba(34, 119, 235, 1) 0%, rgba(7, 16, 236, 1) 49%);
}

#a1 p {
    padding-left: 100px;
    padding-right: 13em;
}

#tron {
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 2em;
    margin-left: 98px;
    margin-top: 30px;
    float: left;
}

#tron1 {
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 2em;
    margin-left: 10px;
    margin-top: 30px;
    float: left;
}

.so {
    font-size: 40px;
    font-weight: bold;
    padding-right: 0px !important;
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}

.email {
    padding-top: 100px;
}

.a1 {
    font-size: 40px;
    font-weight: bold;
}

#a2 {
    height: 450px;
    width: 640px;
    background-image: url(anh/voi-nhung-cong-cu-rat-huu-ich-ban-da-co-the-in-truc-tiep-ngay-tren-google-map.jpg);
    float: right;
    margin-top: 50px;
}