#khoi {
    height: 830px;
    width: 1290px;
    margin: 8em auto;
}

#a1 {
    width: 630px;
    height: 400px;
    background-color: whitesmoke;
    float: left;
}

#a1 p {
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding-top: 80px;
    padding-left: 40px;
}

#a1 button {
    color: white;
    padding: 15px 40px;
    margin-left: 70px;
    margin-top: 20px;
    border: none;
    background: rgb(235, 161, 34);
    background: linear-gradient(90deg, rgba(235, 161, 34, 1) 0%, rgba(236, 83, 7, 1) 57%);
}

#a2 {
    width: 630px;
    height: 400px;
    float: right;
    background-image: url(anh/anh-vien-duoc-the-new-paper-chon-la-vdv-nuoc-ngoai-tieu-bieu-nhat1434507132.jpg);
}

#a3 {
    width: 630px;
    height: 400px;
    float: left;
    margin-top: 60px;
    background-image: url(anh/1892021huyen12391111.jpg);
}

#a4 {
    width: 630px;
    height: 400px;
    background-color: whitesmoke;
    float: right;
    margin-top: 60px;
}

#a4 p {
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding-top: 80px;
    padding-left: 40px;
    margin-right: 130px;
}

#a4 button {
    color: white;
    padding: 15px 40px;
    margin-left: 70px;
    margin-top: 20px;
    border: none;
    background: rgb(235, 161, 34);
    background: linear-gradient(90deg, rgba(235, 161, 34, 1) 0%, rgba(236, 83, 7, 1) 57%);
}

.a {
    margin-top: -90px !important;
    font-size: 20px !important;
}

.a1 {
    margin-right: 70px !important;
    font-size: 20px !important;
    margin-top: -90px !important;
}